<div class="container" *ngIf="product$ | async as product" style="margin: 20px auto;">
    <div class="row">
        <div class="col-sm-4">
            <img src="{{product?.image}}" alt="{{product?.name}}" style="width: 100%;">

            <div class="row" style="padding: 0 15px;">
                <section class="example-section">
                    <mat-checkbox class="example-margin" *ngFor="let cover of product.covers"
                        (change)="onCheckChange($event)" [value]="cover.code">
                        {{cover.name}}
                    </mat-checkbox>
                </section>
            </div>

            <hr />

            <div class="row" style="padding: 0 15px;">
                <div style="width: 100%;display: flex;flex-direction:row;justify-content: space-between;">
                    <strong>Price:</strong>
                    <span *ngIf="price">{{this.price.totalPrice | currency: 'EUR'}}</span>
                    <span *ngIf="!price">N/A</span>
                </div>
            </div>
        </div>

        <div class="col-sm-8">
            <h1 class="display-3">{{product?.name}}</h1>
            <p class="lead">{{product?.description}}</p>

            <hr class="my-4">

            <p>Enter the data needed to calculate the price</p>

            <div class="row">

                <div class="col-sm-12">
                    <form (ngSubmit)="onSubmit()">
                        <div class="row" style="justify-content: space-between;">
                            <mat-form-field appearance="fill" style="width: 45%;">
                                <mat-label>Policy from</mat-label>
                                <input matInput [matDatepicker]="policyFromPicker" id="policyFrom"
                                    [(ngModel)]="offer.policyFrom" name="policyFrom" placeholder="Policy from">
                                <mat-datepicker-toggle matSuffix [for]="policyFromPicker"></mat-datepicker-toggle>
                                <mat-datepicker #policyFromPicker></mat-datepicker>
                            </mat-form-field>

                            <mat-form-field appearance="fill" style="width: 45%;">
                                <mat-label>Policy to</mat-label>
                                <input matInput [matDatepicker]="policyToPicker" id="policyTo"
                                    [(ngModel)]="offer.policyTo" name="policyTo" placeholder="Policy to">
                                <mat-datepicker-toggle matSuffix [for]="policyToPicker"></mat-datepicker-toggle>
                                <mat-datepicker #policyToPicker></mat-datepicker>
                            </mat-form-field>
                        </div>

                        <div class="row" *ngFor="let item of (offer?.answers || [])">
                            <mat-form-field appearance="fill" style="width: 100%">
                                <mat-label>{{item.question.text}}</mat-label>

                                <input matInput type="number" *ngIf="item.question.type === 1" class="form-control"
                                    [(ngModel)]="item.answer" name="answer">

                                <mat-select *ngIf="item.question.type === 3" [(ngModel)]="item.answer" name="answer">
                                    <mat-option *ngFor="let opt of item.question.choices" [value]="opt.code">
                                        {{opt.label}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 margin-top-10">
            <div class="d-flex flex-row-reverse">
                <div class="p-2">
                    <button mat-flat-button color="primary" type="submit" (click)="onSubmit()">Calculate price</button>
                </div>

                <div class="p-2">
                    <button mat-flat-button routerLink="/products">Back</button>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .margin-top-10 {
        margin-top: 10px;
    }

    .example-section {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 65px;
        align-items: center;
        margin: 20px auto;
    }

    mat-checkbox {
        min-width: 50%;
    }
</style>