mat-card.flex-column {
    margin: 10px;
    
    img {
        width: 200px;
        height: 125px;
    }

    mat-card-content {
        display: none;
    }

    mat-card-actions {
        button {
           text-align: center; 
        }
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    mat-card.flex-column {
        display: flex;
        
        img {
            width: 270px;
            height: 170px;
        }
    
        mat-card-content {
            display: initial;
        }
    
        mat-card-actions {
            button {
               text-align: center; 
            }
        }
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}