<mat-card class="flex-column" *ngIf="product">
    <mat-card-header class="flex-no-shrink">
        <mat-card-title>{{product?.name}}</mat-card-title>
        <mat-card-subtitle>{{product?.code}} | Insured limit: {{product?.insuredLimit}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{product?.image}}" alt="{{product?.name}}">
    <mat-card-content class="flex-grow-fill">
        <p>{{product?.description}}</p>
        <ins-cover-list [covers]="product?.covers"></ins-cover-list>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button class="full-width" [routerLink]="[ '/products' , product?.id ]">Read
            More</button>
    </mat-card-actions>
</mat-card>