<h1>Policy Details works</h1>

<!-- <section *ngIf="policy$ | async as policy">
    <mat-card [ngClass]="getStatusClass(policy?.dateTo)">
        <mat-card-title>{{ policy?.number }}</mat-card-title>
        <mat-card-subtitle>{{policy?.productCode}} | {{policy?.accountNumber}}</mat-card-subtitle>

        <mat-card-content>
            <span>{{policy?.dateFrom | date}} - {{policy?.dateTo | date}}</span>
        </mat-card-content>

        <mat-card-actions>
            <button mat-button>Update</button>
            <button mat-button color="warn">Terminate</button>
        </mat-card-actions>
    </mat-card>
</section> -->