div.address-section {
    mat-form-field.postal-code {
        width: 15%;
    }

    mat-form-field.street {
        width: 30%;
    }

    mat-form-field.city {
        width: 20%;
    }

    mat-form-field.country {
        width: 25%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}