<mat-toolbar>
    <div class="row" style="width: 100%;display: flex;flex-direction: row;justify-content: space-between;">
        <div>
            <button mat-button>Privacy</button>
            <button mat-button>Notice & Personal Data Request</button>
            <button mat-button>Legal & Security</button>
            <button mat-button>Careers</button>
            <button mat-button>Contact Us</button>
            <button mat-button>Accessibility</button>
            <button mat-button>Site Map</button>
        </div>

        <div>
            <button mat-fab aria-label="Example icon button with a home icon" style="width: 32px;height: 32px;">
                <!-- <mat-icon>home</mat-icon> -->
            </button>

            <button mat-fab aria-label="Example icon button with a home icon" style="width: 32px;height: 32px;">
                <!-- <mat-icon>home</mat-icon> -->
            </button>

            <button mat-fab aria-label="Example icon button with a home icon" style="width: 32px;height: 32px;">
                <!-- <mat-icon>home</mat-icon> -->
            </button>

            <button mat-fab aria-label="Example icon button with a home icon" style="width: 32px;height: 32px;">
                <!-- <mat-icon>home</mat-icon> -->
            </button>

            <button mat-fab aria-label="Example icon button with a home icon" style="width: 32px;height: 32px;">
                <!-- <mat-icon>home</mat-icon> -->
            </button>
        </div>
    </div>
</mat-toolbar>