<div *ngIf="covers">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Risk</th>
                <th style="text-align: right;">Sum insured</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cover of sort(covers)">
                <th>{{cover.code}}</th>
                <th>{{cover.name}}</th>
                <th style="text-align: right;">{{cover.totalInsured | currency:'EUR'}}</th>
            </tr>
        </tbody>
    </table>
</div>