<form [formGroup]='holderInformationFormGroup'>
    <mat-form-field class="half-width">
        <mat-label>First name</mat-label>
        <input matInput type="text" class="form-control" formControlName="firstName" />
        <mat-error *ngIf="holderInformationFormGroup.controls.firstName.hasError('required')">
            First name is <strong>required</strong>
        </mat-error>
    </mat-form-field>

    <mat-form-field class="half-width">
        <mat-label>Middle name</mat-label>
        <input matInput type="text" class="form-control" formControlName="middleName" />
        <mat-error *ngIf="holderInformationFormGroup.controls.middleName.hasError('required')">
            Middle name is <strong>required</strong>
        </mat-error>
    </mat-form-field>

    <mat-form-field class="half-width">
        <mat-label>Last name</mat-label>
        <input matInput type="text" class="form-control" formControlName="lastName" />
        <mat-error *ngIf="holderInformationFormGroup.controls.lastName.hasError('required')">
            Last name is <strong>required</strong>
        </mat-error>
    </mat-form-field>

    <div formGroupName="holderAddress">
        <mat-form-field class="half-width">
            <mat-label>Postal code</mat-label>
            <input matInput type="text" class="form-control" formControlName="postalCode" />
            <mat-error
                *ngIf="holderInformationFormGroup.controls.holderAddress.controls.postalCode.hasError('required')">
                Postal code is <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="half-width">
            <mat-label>Street</mat-label>
            <input matInput type="text" class="form-control" formControlName="street" />
            <mat-error *ngIf="holderInformationFormGroup.controls.holderAddress.controls.street.hasError('required')">
                Last name is <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="half-width">
            <mat-label>City</mat-label>
            <input matInput type="text" class="form-control" formControlName="city" />
            <mat-error *ngIf="holderInformationFormGroup.controls.holderAddress.controls.city.hasError('required')">
                Last name is <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="half-width">
            <mat-label>Country</mat-label>
            <input matInput type="text" class="form-control" formControlName="country" />
            <mat-error *ngIf="holderInformationFormGroup.controls.holderAddress.controls.country.hasError('required')">
                Last name is <strong>required</strong>
            </mat-error>
        </mat-form-field>
    </div>
</form>