$white: #ffffff;
$light-gray: #f5f7f9;
$light-grayish-blue: #edeef2;

$grayish-blue-primary: #b7c6d7;
$grayish-blue-secondary: #b1b9ce;

$soft-pink: #e9b0c9;
$soft-orange:  #eab8a7;

$vivid-blue: #0069ff;  //#1f44e6;

$dark-grayish-blue: #5a5c64;
$dark-moderate-cyan: #3e8d7c;